<section class='post_card'>
  <h2> <%= link_to post.title, user_post_path(@user,post) %> </h2>
  <%# Truncate the text in a post if the length is greater than 40 %>
  <% max_length = 40 %>
  <% if post.text.length > max_length %>
    <% post.text = post.text.slice(0,max_length) + "..." %>
  <% end %>
  <p> <%= post.text %> </p>
  <section class='post_card__stat'>
    <p> Comments: <%= post.comments_count %> </p>
    <p> Likes: <%= post.likes_count %>
    </section>
  </section>
