<main>
  <%= render 'shared/user', user:@user%>
  <section class='post_list'>
    <% @posts.each do |post| %>
      <section class='post_item'>
        <%= render 'shared/post', post:post%>
        <% unless post.recent_comments.empty? %>
          <h4>Comments</h4>
          <section class='comment_list'>
            <% post.recent_comments.each do |comment| %>
              <%= render 'shared/comment', comment:comment%>
            <% end %>
          </section>
        <% end %>
      </section>
    <% end %>
  </section>
  <section class='crud_btn'>
    <button type='button' class='pagination'>Pagination</button>
    <%# Create a new post %>
    <% if can? :create, Post %>
      <button type='button' class='new_post_btn'>
        <%= link_to 'Create New Post', new_user_post_url(@user) %>
      </button>
    <% end %>
  </section>
</main>
